
body{
	width: 100%;
	font-family: Bahnschrift;
	color: white;
	display: flex;
	flex-direction:column;
	align-items: center;
	margin: 0;
}
#Title{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
#Title p{
	background-color: #FA9D26;
	font-size: 48px;
	border-radius: 20px;
	display: block;
	height: 200px;
	margin-bottom: 0px;
	border-radius: 30px;
}
@font-face {
    font-family: "Bahnschrift";
    src: url(Bahnschrift.tff) format("truetype");
}
#BigPages{
	margin-left: 1%;
	width: 50%;
	margin-top: -200px;
}
#BigPages p{
	display: none;
	font-size: 0px;
}
.page{
	width: 75%;
	height: 11%;
	font-size: 25px;
	text-align: center;
	margin-bottom: 10px;
}
#page1, #page3, #page5, #page7{
	background-color: #FA9D26;
	border: 5px solid #112fc2;
}
#page2, #page4, #page6{
	background-color: #112fc2;
	border: 5px solid #FA9D26;
}
#Large{
	display: flex;
	flex-direction: row;
	gap: 5%;
}
#BigInfo{
	
}
#info{
	width: 660px;
	height: 260px;
	background-color: #112fc2;
	border: 5px solid #FA9D26;
	font-size: 25px;
	text-align: center;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-top: 30px;
}
.first{
	width: 27%;
	height: 270px;
	margin-right: 15%;
}
.Linko{
	display: block;
	height: 100%;
	text-decoration: none;
	color: #FFFFFF;
}
#PagesTitle{
	color: #FA9D26;
	font-size: 72px;
}
#PagesSubTitle{
	color: #112fc2;
	font-size: 26px;
}
#ReturnButton{
	height: 800px;
	width: 80px;
	background-color: #EFEFEF;
	font-size: 72px;
}
.ReturnButton{
	display: block;
	height: 100%;
	text-decoration: none;
	color: #000000;
	text-align: center;
}
#IMPORTANT{
	height: 650px;
	width: 500px;
	font-size: 36px;
	background-color: #0059B3;
	border: 3px solid #FA9D26;
	border-radius: 20px;
}
#maybe{
	height: 800px;
	width: 100px;
	background-color: #EFEFEF;
	font-size: 48px;
}
#ReturnButton2{
	height: 800px;
	width: 100px;
	background-color: #EFEFEF;
	font-size: 72px;
}
#ReturnButton3{
	height: 800px;
	width: 80px;
	background-color: #EFEFEF;
	font-size: 72px;
}

#IMPORTANT2{
	height: 650px;
	width: 500px;
	font-size: 36px;
	background-color: #0059B3;
	border: 3px solid #FA9D26;
	border-radius: 20px;
}
#BORING{
	width: 800px;
	height: 600px;
}

#whymustimakethis{
	width: 100%;
	height: 100%;
}